@page
@model Ardelean_Diana_Proiect1.Pages.Plan.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plancs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plancs.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plancs.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plancs.Oras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plancs.Oras)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plancs.Tara)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plancs.Tara)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plancs.Perioada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plancs.Perioada)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Plancs.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
